{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>{{ title }}</h1>

    {% if user.is_authenticated %}
    <div class="card create-post">
        <div class="card-body">
            <h3 class="card-title">New Post</h3>
            <textarea id="post-text" aria-label="Post"></textarea>
            <br>
            <input id="post-submit-button" type="submit" value="Post" class="btn btn-primary">
        </div>
    </div>
    {% else %}
    <div> Login to add posts. </div>
    {% endif %}

    <div id="posts-view">
    </div>

{% endblock %}

{% block script %}
    {{ request.user.username|json_script:"current_user" }}
    <script src='{% static '/network/main.js' %}'></script>
{% endblock %}