{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>{{ title }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="../../static/network/pp.jpg" alt="Profile pic">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <p>{{ puser.username }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ puser.posts.count }} posts</p>
                    </div>
                    <div class="col">
                        <p>{{ puser.following.count }} following</p>
                    </div>
                    <div class="col">
                        <p>{{ puser.followers.count }} followers</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ puser.fullname }}</p>
                    </div>
                </div>

                {% if request.user != puser %}
                <div class="row">
                    <div class="col">
                        <button data-puser={{ puser }} data-ruser={{ request.user }} id="follow">{{ following }}</button>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="posts-view">
    </div>


{% endblock %}

{% block script %}
    {{ request.user.username|json_script:"current_user" }}
    <script src='{% static '/network/main.js' %}'></script>
{% endblock %}